__pycache__/
*.pyc
.venv/
.env
.DS_Store
.vscode/


*.jpeg
*.pdf
*.tex
*.cls
*.zip
*.tar.gz
*.rar

# Ignore all Data folders in any subdirectory
**/Data/
*.txt
*.pth
# Ignore the Draft folder (optional, if you don't want to track the LaTeX template yet)
**/Draft/